# exclude the folder containing all the diseases and images
folder_based_dojo/*

# include the '![genericfolder]'
!/folder_based_dojo/![organ][type][subtype][complexity][incidence][name]/*

# exclude research/notes folder
research

# ignore jupyter notebook checkpoints
.ipynb_checkpoints

# No hidden files
.*

# include gitignore file
!.gitignore

# ignore google drive api credentials file
credentials.json

# Ignore the google drive api wrapper credentials file 
# (a copy of credentials.json, used for PyDrive)
client_secrets.json
client_secret.json
token.json

static/*

*.zip

# Exclude api test folder creds
api_service_test/service_account_credentials

# Exclude google drive credentials file used for server to server app
mycreds.txt

