# exclude the folder containing all the diseases and images
folder_based_dojo/*

# include the '![genericfolder]'
!/folder_based_dojo/![organ][type][subtype][complexity][incidence][name]/*

# exclude research/notes folder
research

# ignore jupyter notebook checkpoints
.ipynb_checkpoints

# No hidden files
.*

# include gitignore file
!.gitignore