[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyinstaller = "*"
ipykernel = "*"
jupyter = "*"
pillow = "*"
toml = "*"
zappa = "*"
flask = "*"
google-api-python-client = "*"
"oauth2client" = "*"
pydrive = "*"
"boto3" = "*"
requests = "*"
flask-wtf = "*"
fuzzywuzzy = {version = "*", extras = ["speedup"]}

[dev-packages]
awscli = "*"

[requires]
python_version = "3.6"
