{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-3">Drawing Board</h1>
    <p class="lead">Here you will plan your training</p>
    <hr class="my-4">
    <p> {{ message }} </p>
    <p class="lead">
    </p>
</div>

<form action="{{ url_for('design') }}" method="POST">
    <fieldset class="form-group">
            <div>
                {% for category,options_list in available_category_options.items() if category!='name'%}
                <legend>{{category}}</legend>

                <div class="btn-group-horizontal" data-toggle="buttons">
                    {% for option in options_list %}
                    <input type="button" class="btn btn-outline-secondary" name="{{category}}" value="{{option}}" ></button>
                    {% endfor %}
                </div>

                {% endfor %}
            </div>        

        <div>
            <button type="submit" class="btn btn-secondary btn-lg btn-block btn-sm" name="submit_options" value="ta daaaa" >Submit</button>
        </div>

    </fieldset>
</form>

<div>    
    <p>
        Test_value: need to somehow record the button values with javascript code in layout.html
        then grab those values all together and submit them all using the submit button as POST event.
    </p> 

    <p>
        Request form: {{request.form}}
    </p>

    <p>
        selections: {{selections}}
    </p>

    <p>
        form: {{form}}
    </p>
</div>

{% endblock %}
