{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-3">Drawing Board</h1>
    <p class="lead">Here you will plan your training</p>
    <hr class="my-4">
    <p> {{ message }} </p>
    <p class="lead">
    </p>
</div>

<form action="{{ url_for('design') }}" method="POST">
    <fieldset class="form-group">
            <div>
                Number of cases:
            </div>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    {% for number in [1,2,3,5,8,13,21,34] %}
                        <button class="btn btn-secondary btn-sm" type="button">{{number}}</button>                
                    {% endfor %}
                </div>      
            </div>



            <div>
                {% for category,options_list in available_category_options.items() if category!='name'%}
                <div>
                    <br>
                </div>
                <div class="btn-group-horizontal" data-toggle="buttons">
                    {% for option in options_list %}
                    <input type="button" class="btn btn-outline-secondary btn-sm" name="{{category}}" value="{{option}}" ></button>
                    {% endfor %}
                </div>

                {% endfor %}
            </div>        

        <div>
            <p>
                <br>
                <button type="submit" class="btn btn-secondary btn-lg btn-block btn-sm" name="submit_options" value="submitting" >Submit</button>
            </p>
        </div>

    </fieldset>
</form>


{% endblock %}