{% extends 'layout.html' %}



{% block body %}
    <div class="jumbotron">
        <h1 class="display-3">Drawing Board</h1>
        <p class="lead">Here you will plan your training</p>
        <hr class="my-4">
        <p> {{ message }} </p>
        <p class="lead">
        </p>
    </div>
    <form action="/design" method="POST">
    <div>
        
        <div>
            {% for category,options_list in available_category_options.items() %}
                <p>
                {% for option in options_list %}
                <input type="button" class="btn btn-outline-secondary" name="{{category}}" value="{{option}}" >{{option}} </button>

                <!--  
                <button type="button" class="btn btn-outline-secondary" name="{{category}}" value="{{option}}" onclick=remember_selection(category,option) >{{option}} </button>
                -->
                {% endfor %}
                </p>
            {% endfor %}
        </div>

        <div>
        <button type="submit" class="btn btn-secondary btn-lg btn-block btn-sm" name="submit_options" value="submitting" >Submit</button>
        </div>

        <p>Choices: {{selections}}</p>
      

        
    </div> 


</form> 



<div>    
    <p>
        Test_value: need to somehow record the button values with javascript code in layout.html
        then grab those values all together and submit them all using the submit button as POST event.

    </p>
</div>

{% endblock %}