<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DOJO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   
    <script language="JavaScript">

      
        var memory = {};
        // A dictionary of categories and selected-options-list
        var selectedOptions= {};
        // Set default quiz length
        var quizLength = 3;


        function saveLength(element){
            quizLength = element.value;
        }

        // A function called by onclick property of the category buttons
        function saveOption(element) 
        {
            // The purpose of the function is to add the selection to the selectOptions dict
            // if thyriod is clicked then selectedOptions = {'organ':['thyroid']}
            var list_to_append;
            // If the category is not in selectedoptions memory, create empty list
            if (element.name in selectedOptions == false){
                list_to_append = [];
            } 
            else {
                list_to_append = selectedOptions[element.name];
            }

            // Add this button to the list if not already in there 
            if (list_to_append.indexOf(element.value) < 0){  
                list_to_append.push.apply(list_to_append,[element.value]);
            }
            // Remove the item if already in list
            else {
                // Get index
                var index = list_to_append.indexOf(element.value);
                // Splice out
                if (index !== -1) {
                    list_to_append.splice(index, 1);
                }
            }
            // Re-assign the list to selectedOption
            selectedOptions[element.name] = list_to_append;
            console.log('Selected options are: '+selectedOptions[element.name]);
        }   
        
        function getMemory()
        {
            // Get memory
            memory.category_selections = selectedOptions;
            memory.quiz_length = quizLength;
            memoryJSON = JSON.stringify(memory);

            // Save the memory value to the hidden input html called transmitter
            console.log('about to log memory');
            document.getElementById('memory_transmitter').value = memoryJSON; // This function should ideally return all the memory variables            
        }     
    </script>


</head>
<body>
    {% include 'includes/_navbar.html' %}
    <div class ="container"> 
    {% block body %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



</body>
</html>
