{% extends 'layout.html' %}

{% block body %}

<div class="container">
    <div style="padding-left: 0px;  padding-right: 0px;">
        <br>
        <picture>
            <!-- XML file might be able to go here
            <source srcset="..." type="image/svg+xml">
            -->  
            <img src="{{url_for('static', filename=image_name)}}" class="img-fluid" alt="Responsive image">
        </picture>	
    </div>


    <form action="/view" method="POST">
        <div class="form-group">
            <label class="col-form-label" for="inputDefault"></label>
            <input class="form-control" id="inputDefault" type="text" placeholder="Your answer">
            <br>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
    
    <div>
        <p class="text-muted">{{answer}}</p>
    </div>
</div>

{% endblock %}










