{% extends 'layout.html' %}

{% block body %}

<div class="container">

    <div style="padding-left: 0px;  padding-right: 0px;">
        {% for individual_image in image_ids %}			
        <div>
            <br>
            <picture>
                <img src="https://drive.google.com/uc?id={{individual_image}}&export=download" class="img-fluid" alt="Responsive image">
            </picture>
        </div>	
        {% endfor %}	
    </div>


    <ul class="nav nav-tabs">
        {% if immunohistochemistry|length > 0 %}
            <li class="nav-item">
                <a class="nav-link" href="#IHC" data-toggle="tab">IHC</a>
            </li>
        {% endif %}

        {% if differentials|length > 0 %} 
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" aria-expanded="false" aria-haspopup="true" href="#" data-toggle="dropdown">DDx ({{differentials|length}})</a>
            <div class="dropdown-menu">
                {% for differential in differentials %}    
                        <a class="dropdown-item" href="#page_for_single_image_of_{{differential}}">{{differential}}</a>                  
                {% endfor %}
            </div>
        </li>

        <li class="nav-item">
                <a class="nav-link" href="#DDX_QUIZ" data-toggle="tab">DDx Quiz</a>
        </li>
        {% endif %}

        <li class="nav-item">
            <a class="nav-link" href="#move_on" data-toggle="tab">Skip</a>
        </li>

    </ul>
      
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="IHC">
          <p>Positive: {{positive_immunohistochemistry}}</p>
          <p>Negative: {{negative_immunohistochemistry}}</p>
        </div>
    </div>

    <input type="hidden" id="description_button" data-toggle="collapse" class="btn btn-primary" value="{{answer}}" data-target="#description_body"></button>
    <div id="description_body" class="collapse">
        Description: {{description}}
    </div>


    <form action="/view" method="POST">
        <div class="form-group">
            <label class="col-form-label" for="guessing_box"></label>
            <input class="form-control" id="guessing_box" type="text" placeholder="Your answer" name="guess" value="">
            
        </div>

        <div>

            <input type="hidden" id="move_on" class="btn btn-primary btn-block" name="move_on" value="not_ready" ></button>
            
        </div>

        
        <input id="lock_in_answer" type="button" class="btn btn-primary" name="lock_in_answer" value="Submit" onclick="revealAnswer(this);" ></button>
        <br>   
    </form> 

</div>

{% endblock %}










